<br>
<div id="home_text">
	<div id="quiz_text"> 
	To create your personalized life balance wheel please select and answer all questions below. 
	</div>
</div>

<br>
<% if Rails.env.development? || Rails.env.test? %>
	<button class='random'>Random answers</button>
<% end %>

<div class="error_format">
	<%= flash[:error] %>
</div>

<%= form_for @wheel, remote: true do |f| %>

	<div id="accordion">

		<% Section.all.each do |s| %>
			<h3><%= s.section_name %> <%= image_tag 'check.png', class: 'section-status' %></h3>
			
			<div class='question-section'>
				<% s.questions.each do |q| %>
			  	<div class='question'>
			 		<h4><%= q.question %></h4>
			 		<% q.answers.each do |a| %>
				 		<div class="answer_radio"><label>
				 			<div><%= a.answer_text %></div>
				 			<%= radio_button_tag "answer[#{q.id}]", a.id %>
				 		</label></div>
			 		<% end %>
			 	 </div>
		 		<% end %>
		 	</div>
		<% end %>
	</div>
	 
  	<%= f.button "Create My Wheel", :class => "homeButton" %>

<% end %>