"Your personal wheel"

<<<<<<< HEAD
=======

>>>>>>> d1a724be905da7f60a2d1cee486f8a43dd70b2a8
<div class='hidden'>
	<% @wheel.answers.group_by(&:section).each do |section, answers| %>
		<%= section.section_name %><br>
		<span class="set_goal"> <%= link_to 'set goal', new_section_goal_path(section), :remote => true, 'data-section-id' => section.id %></span>
		<%= answers.map(&:answer_value).inspect %><br>
		<% section_sum = answers.map(&:answer_value).sum %><br>
	<% end %>
</div>
<<<<<<< HEAD
=======

>>>>>>> d1a724be905da7f60a2d1cee486f8a43dd70b2a8

<div id="sunburst">
	<div class="wheel_back"></div>
</div>
<%= link_to 'save wheel', wheel_path %>
<%= javascript_include_tag 'z-sanburst-d3' %>
