<br>
<div id="home_text"> 
	Simply click on any sector of the wheel in order to set goals for that particular area of your life. For help with setting goals and effectively using your wheel please <%= link_to "click here.", help_path, :remote => true %>
</div>

<div class='hidden'>
	<% @wheel.answers.group_by(&:section).each do |section, answers| %>
		<%= section.section_name %><br>
		<span class="set_goal"> <%= link_to 'set goal', new_section_goal_path(section), :remote => true, 'data-section-id' => section.id %></span>
		<%= answers.map(&:answer_value).inspect %><br>
		<% section_sum = answers.map(&:answer_value).sum %><br>
	<% end %>
</div>

<div id="sunburst">
	<div class="wheel_back"></div>
</div>
<% unless current_user %>
	<%= link_to 'save wheel', new_user_registration_path, :class => "homeButton" %>
<% end %>
<%= javascript_include_tag 'z-sanburst-d3' %>
