<div class="GoalsTable" >
<table>
	<tr>
		<td>
		Complete
		</td>	
       <td>
         Section
       </td>
       <td >
          Title
       </td>
       <td>
          Priority
        </td>
        <td>
          Due Date
        </td>
        <td>
          Notes
        </td>
        <td>
        </td>
        <td>
        </td>
     </tr>

	<% @goals.each do |goal| %>
	<tr>
		<td><input type="checkbox" class="goal_check" name="completed" value=<%= goal.id%>/></td>
		<td><%= goal.section.section_name %></td>
		<td><%= goal.title %></td>
		<td><%= goal.priority %></td>
		<td><%= goal.due_date %></td>
		<td><%= goal.notes %></td>
		<td><%= link_to 'Edit', edit_section_goal_path(goal.section, goal) %></td>
   		<td><%= link_to 'Delete', [goal.section, goal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
</div>

<% if current_user.wheel.nil? %>
<%= link_to 'Create Wheel', new_wheel_path, :class => "homeButton" %>
<% else %>
<%= link_to 'Create More Goals', wheel_path(current_user), :class => "homeButton" %>
<% end %>
