<% @goals.each do |goal| %>
  <tr>
    <td>-Title:<%= goal.title %></td>
    <td>Section:<%= goal.section.section_name %></td>
    <td><%= goal.due_date %></td>
    <td><%= link_to 'Edit', edit_section_goal_path(goal.section, goal) %></td>
    <td><%= link_to 'Destroy', [goal.section, goal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<% if current_user.wheel.nil? %>
<%= link_to 'Create Wheel', new_wheel_path, :class => "homeButton" %>
<% else %>
<%= link_to 'Show Wheel', wheel_path(current_user), :class => "homeButton" %>
<% end %>
