<!DOCTYPE html>
<html>
<head>
	<title>360 Life - Your Personal Life Balance Well-Being Tool</title>
	<!-- <link REL="stylesheet" type="text/css" href="public/styles/style.css">
	<link REL="stylesheet" type="text/css" href="public/styles/reset.css"> -->
	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type">
	<meta content="text/javascript" http-equiv="Content-Script-Type">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= @page %>">

<!-- BEGIN: Main Page -->
	<div id="container">
  <div id="secondaryContent">
      <%= render 'common/session' %>
    </div>
	

      
      <!-- BEGIN: Navbar -->
      <div id='logo'>
        <%= link_to image_tag('360-Logo.png'), '/' %>
      </div>
      
      <div id="navigation-bar">
        <ul class="nav">
           <li><a href="/">Home</a></li>
           <li><a href="#">Testimonials</a></li>
           <li><a href="#">Community</a></li>
           <li><a href="/users/sign_up">Sign Up</a></li>
           <li><a href="/users/sign_in">Login</a></li>
        </ul>      
      </div>

      <!-- BEGIN: Body Main -->
      <div id="main" class="shadow">
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= render 'layouts/modal' %>

        <%= yield %>

      </div>

      <!-- BEGIN: Footer -->
      <div id="footer" class="footer-home shadow">
        <ul id="inside_nav">
          <li><a href="">Share This Site</a> | </li>
          <li><a target="_blank" href="">Terms</a> | </li>
          <li><a target="_blank" href="">Privacy</a> | </li>
          <li><a target="_blank" href="">Contact Us</a></li>
        </ul>
      </div>
</div>
</body>
</html>
