<h2>Sign up
	<span class='add-goal'>to add a goal</span>
</h2>

<%= form_for(resource, :as => :user, :url => registration_path(:user)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => "homeButton", :id => "deviseButton" %></div>
<% end %>

